@use './mixins/screen-gte' as screen-gte;

.CharacterDetailModal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 1;
    z-index: 2;
    display: flex;
    position: fixed;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    box-shadow: 1px 1px 100px 100px var(--shadow-color);

    @include screen-gte(735px) {
        margin: 5rem;
    }

    .Content {
        padding: 4rem;
        max-width: 1000px;
        margin: 5rem auto;
        background-color: var(--contrast-color);

        &__body {
            width: 100%;

            img {
                min-width: 300px;
                min-height: 300px;
                background-color: var(--grey);
            }
        }

        .Character__info {
            display: flex;
            text-align: left;
            flex-direction: column;
            padding: 0.8rem 1.2rem;

            p {
                margin: 0;
                margin-bottom: 0.8rem;
            }

            .CharacterItem__name {
                font-size: 3.4rem;
                margin-bottom: 1.6rem;
            }
        }
    }
}

// To disable body scroll when modal is open
// more 'fancy' things can be done here but given the time pressure/nature of the implementation
// I chose to not do it
.modal-open {
    overflow: hidden;
}
