.Pagination {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2.8rem;
    background-color: var(--contrast-color);
    border-radius: 4px;

    i {
        cursor: pointer;
        flex: 1;
        margin: 0 0.4rem;
        padding: 0.4rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: border ease-in 0.2s;
        font-style: normal;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &:focus {
            font-weight: bold;
            transform: scale(1.04);
            border-top: 2px solid var(--accent);
        }

        &.is-active {
            font-weight: bold;
            transform: scale(1.04);
            background-color: var(--accent);
            box-shadow: 0px 0px 4px 1px var(--grey-1);
        }
    }
}
